header{
  width: 100%;
  height: 12%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}

.logo{
  width: 90px;
  cursor:pointer;
}
.menu-icon{
  width: 30px;
  cursor:pointer;
}

.navbar nav{
  flex:1;
  text-align: right;
}

.navbar nav ul li{
  list-style:none ;
  display: inline-block;
  margin-left: 60px;
  transition: transform 0.5s;

}
.navbar nav ul li a{
  text-decoration: none;
  color: #727070;
}

.navbar nav ul li:hover{
  transform:translateY(-10px);
}

body{
  display:flex;
  flex-wrap: wrap;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-basis: 70%;
    display:flex;
    
  }
header{
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

header nav{
    flex-basis: 80%;
  }
header li {
    float: left;
    flex-basis: 10%;
  }
  
header li a {
    display: block;
    color: #727070;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid black;
    transition: transform 0.5s;

  }
  
header li a:hover {
    background-color: #515151;
    color: white;
    border-radius: 20px;
    transform:translateY(-10px);
  }
main {
    flex-grow: 1;
    flex-basis: 70%;
    margin-right: 5%;
  
  
  }

main ul{
    display: flex;
    flex-wrap: nowrap;
  }

main li{
  flex-basis: 30%;
  margin: 2%;
}

  footer{
    flex-basis: 100%;
    border-radius: 5%;

  }

.en-bas{
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}