body{
  display:flex;
  flex-wrap: wrap;
}

header{
  width: 100%;
  height: 12%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}

.logo{
  width: 90px;
  cursor:pointer;
}
.menu-icon{
  width: 30px;
  cursor:pointer;
}

.navbar nav{
  flex:1;
  text-align: right;
}

.navbar nav ul li{
  list-style:none ;
  display: inline-block;
  margin-left: 60px;
  transition: transform 0.5s;

}
.navbar nav ul li a{
  text-decoration: none;
  color: #727070;
}

.navbar nav ul li:hover{
  transform:translateY(-10px);
}


.accueil{
  display: flex;
  height: 88%;
  align-items: center;
  font-weight: bold;
  padding-left: 8%;
  flex-wrap: wrap;
}
.texte_accueil{
  flex-basis: 50% ;
}
.les_cartes{
  flex-grow: 1;
  flex-basis: 50% ;
}
main article{
  display: flex;
  width: auto;
  margin-bottom: 12px;
}
main article section{
  display: flex;
  
}
main article img{
  display:flex;
  max-width: 20%;
  max-height: 20%;
}
aside{
  flex-grow: 0;
  flex-basis: 25%;
  border-radius: 10%;
}

footer{
  flex-basis: 100%;
  border-radius: 5%;

}