
html{
    background-color: rgba(241,235,223,255);
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    background-size: cover;
}
header{
    color: #727070;
    border-radius: 20px;
}
main article{
    background-color:  rgba(168, 129, 129, 0.2);
    border-radius: 20px;

}

.texte_accueil{
    font-family: sans-serif;
}

.texte_accueil>h1{
    font-size: 90px;
    color: #727070;
}
.texte_accueil>p{
    font-size: 20px;
    color: #727070;
}

aside{
    color:#727070;
    border-color: #727070 ;
    background-color:  rgba(168, 129, 129, 0.2);
}

footer{
    color: #727070;
    background-color:  rgba(168, 129, 129, 0.1);
}

.carte{
    width: 250px;
    height: 300px;
    display: inline-block;
    border-radius: 15px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:12px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    color: aliceblue;
}
.carte:hover{
    transform:translateY(-10px);
}
.carte1{
    background-image: url(img/picture-cybersecurite-entreprise.jpg);
}
.carte2{
    background-image: url(img/000000066013.jpg);
}
.carte3{
    background-image: url(img/ia_1.jpg);
}
.carte4{
    background-image: url(img/hébergement-internet.jpg);
}