
html{
    background-color: rgba(241,235,223,255);
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
}
header{
    color: #727070;
    border-radius: 20px;
}

main li{
    background-color:  rgba(168, 129, 129, 0.2);
    border-radius: 3px;
    list-style-type: None;
}

aside{
    color:#727070;
    border-color: #727070 ;
    background-color:  rgba(168, 129, 129, 0.2);
}

footer{
    color: #727070;
    background-color:  rgba(168, 129, 129, 0.2);
}


main li img{
    width: 20em;
    height: 12em;
}

main li h2{
    text-align: center;
}

main h1 {
    text-align: center;
}

main li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main p{
    text-indent:20px;
}